* {
  	box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
}

#centre_website {
	margin-right: 2%;
	margin-left: 2%;
	min-height: 100%;
	position: relative;
	width: auto;
}

[class*="col-"] {
  	float: left;
}

.row::after {
  	content: "";
  	clear: both;
  	display: table;
}

body, html {
	background-color: white;
    height: 90%;
    position: relative;
    width: auto;
}

#content {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
    color: black;
	width: auto;
}

.booster {
	min-height: 0px;
}

.booster2 {
	min-height: 0px;
}

.homepageImage {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	background-color: #333;
	font-size: 25px;
	font-weight: bold;
	color: #f2f2f2;
	padding: 14px 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
}

h2 {
	background-color: #333;
	font-size: 25px;
	font-weight: bold;
	color: #f2f2f2;
	padding: 14px 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

h4 {
	background-color: #333;
	font-size: 17px;
	font-weight: bold;
	color: #f2f2f2;
	padding-top: 14px;
	padding-bottom: 14px;
	margin: 0px;
}

h5 {
	background-color: #333;
	font-size: 17px;
	font-weight: bold;
	color: #f2f2f2;
	padding: 14px 16px;
	margin: 0px;
	margin-bottom: 3px;
}

.center {
	text-align: center;
}

.top_button {
	background-color: #333;
	color: #f8f8f2;
	border: none;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 20px;
	box-shadow: 5px 5px black;
	white-space: nowrap;
	margin-bottom: 10px;
}

.top_button:hover {
	background-color: #272822;
	margin-left: 3px;
	margin-top: 3px;
	box-shadow: 2px 2px black;
	margin-bottom: 7px;
}

#bottom_button {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
}

/* For desktop: */
@media only screen and (min-width: 950px) {
	.col-1left {
		width: 10%;
		padding-right: 28px;
	}
	.col-1 {
		width: 10%;
	}
	.col-2 {width: 20%;}
	.col-2left {
		width: 20%;
		padding-right: 28px;
	}
	.col-3 {width: 30%;}
	.col-3left {
		width: 30%;
		padding-right: 28px;
	}
	.col-third {width: 33.33%;}
	.col-thirdleft {
		width: 33.33%;
		padding-right: 28px;
	}
	.col-4 {width: 40%;}
	.col-4left {
		width: 40%;
		padding-right: 28px;
	}
	.col-5left {
		width: 50%;
		padding-right: 28px;
	}
	.col-5 {width: 50%;}
	.col-6 {width: 60%;}
	.col-6left {
		width: 60%;
		padding-right: 28px;
	}
	.col-7 {width: 70%;}
	.col-7left {
		width: 70%;
		padding-right: 28px;
	}
	.col-8 {width: 80%;}
	.col-8left {
		width: 80%;
		padding-right: 28px;
	}
	.col-9 {width: 90%;}
	.col-10 {width: 100%;}
	.col-seventh {width: 14.28%;}
	.col-sixth {
		width: 16.66%;
		text-align: center;
	}

	#centre_website {
		height: 100%;
		width: auto;
	}

	.booster {
		min-height: 80px;
	}

	.booster2 {
		min-height: 200px;
	}
}